<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
</head>
<body>
    <h1>Video To Audio Mashup</h1>
    <form action="/submit" method="POST">
        <label for="singerName">Singer Name:</label>
        <input type="text" name="singerName" required><br><br>

        <label for="numVideos">Number of Videos:</label>
        <input type="number" name="numVideos" required><br><br>

        <label for="videoDuration">Duration of Each Video:</label>
        <input type="number" name="videoDuration" required><br><br>

        <label for="outputFileName">Output File Name:</label>
        <input type="text" name="outputFileName" required><br><br>

        <label for="email">Email Id:</label>
        <input type="email" name="email" required><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
